<div class="image-container set-full-height"
     style="background-image: url('assets/img/wizard-profile.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="wizard-container">
          <div class="card wizard-card" data-color="orange">
            <app-demo-build-profile-wizard></app-demo-build-profile-wizard>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="padding-top: 40px">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="card text-center">
          <div class="card-body">
            <button class="btn btn-info" (click)="openModal()">
              Open wizard in modal mode
            </button>
          </div>
        </div>
      </div>
    </div>
    <app-demo-build-profile-modal></app-demo-build-profile-modal>
  </div>
</div>

